.input-box {
  font-family: inherit;
  font-size: 1em;
  padding: 0.5em;
  outline: none;
  border: 0.18em solid #ccc;
  border-radius: 0.5em;
  transition: all ease 0.15s;

  &:hover,
  &:active {
    border: 0.18em solid #aaa;
  }

  &:focus {
    border: 0.18em solid currentColor;
  }
}
