.search-box {
  margin: 3em 0;

  .title{
      text-align: center;
      font-size: 3.5em;
      margin-top: 1.5em;
  }

  .error-message{
      text-align: center;
      padding: 1em;
      opacity: 0.75;
  }
}

.search-bar {
  position: relative;
  max-width: 100%;
  width: 40em;
  margin: 0 auto;

  &.has-value {
    .input-box {
      padding-left: 3em;
    }
  }

  .input-box {
    width: 100%;
    padding: 1em 3em 1em 1em;
    border-radius: 1em;
  }

  .clear-button,
  .search-button {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    height: max-content;
    padding: 1em 0.75em;
    margin-top: auto;
    margin-bottom: auto;
    color: #090d10;
    background: #fff;
    border-radius: 1em;
    transition: transform ease 0.15s;

    &:active {
      transform: scale(0.8);
    }

    svg {
      width: 1.75em;
      height: 1.75em;
    }
  }

  .clear-button {
    left: 0;
    margin-left: 0.38em;
  }

  .search-button {
    right: 0;
    margin-right: 0.38em;
  }
}
