.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-y {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.fixed-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
}
