.repository-box {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 1em 0 2em;
  box-shadow: 0 0 0.18em rgba(0, 0, 0, 0.1), 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  border-radius: 1em;

  @media (max-width: 767px) {
    font-size: 0.9em;

    .icon {
      display: none;
    }

    .links {
      font-size: 0.9em;
    }
  }

  &:hover {
    .icon {
      opacity: 1;
    }
  }

  .right-side {
    width: 100%;
  }

  .icon {
    width: 4em;
    height: 4em;
    padding: 2em;
    opacity: 0.5;
    transition: opacity ease 0.15s;
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  .title {
    font-size: 1.125em;
    margin: 0;
  }

  .title-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 0.85em;
    opacity: 0.5;

    .stars svg {
      width: 1em;
      height: 1em;
      margin-right: 0.18em;
    }

    .license {
      font-size: 0.9em;
    }
  }

  .description {
    font-size: 0.9em;
    margin: 0 0 1em;
    opacity: 0.75;
  }

  .button {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.5em;

    svg {
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.5em;
    }
  }

  .topics {
    margin-top: 0.5em;

    .topic {
      font-size: 0.75em;
      padding: 0.25em 0.5em;
      margin-right: 0.5em;
      color: #fff;
      background: #090d10;
      border-radius: 0.5em;
    }
  }
}
