.search-result {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  padding: 1em 0;

  .result-item {
    width: calc(33.33% - 1.5em);
    text-decoration: none;

    @media (max-width: 767px) {
      width: calc(50% - 1.5em);
    }

    @media (max-width: 575px) {
      font-size: 0.85em;
    }
  }
}
